<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="login">
        <img alt="Brand" src="...">
      </a>
    </div>
  </div>
</nav>
<div class="page-header col-sm-offset-3 col-sm-7">
 	<h3 >Log in</h3>
</div>
<div class="form-horizontal">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %><br>
      <%= f.email_field :string, class: 'form-control'  %>
     	 <br>
      <%= f.label :password %><br>
      <%= f.password_field :password, class: 'form-control' %>
		<br>
      <%= f.submit "Log in", class: "btn btn-default" %>
    <% end %>
    <br>
    <% if flash[:danger] %>
      <div class="notice"><%= flash[:danger] %></div>
    <% end %> 
    <p>New user? <%= link_to "Sign up now!", 'singup' %></p>
  </div>


</div>