<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= blogs_path %>">
        <img alt="Brand" src="...">
      </a>
       <a class="navbar-brand" href="<%= user_path(current_user)  %>">
        Profile
      </a>

    </div>
  </div>
</nav>
<div class="jumbotron">
  <h1>By <%= @User.string%></h1>
  <p></p>
</div>

<table class="table table-striped table-hover table-bordered text-center">
  <thead>
    <tr >
      <th class='text-center'>Title</th>
      <th class='text-center'>TimeUpdate</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.updated_at%>
        <td><%= link_to 'Watch', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(@User) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a class="btn btn-default" href="<%= new_blog_path(user_id: current_user) %>" role="button">New Blog</a>
<a class="btn btn-default" href="<%= api_blogs_path(user_id: current_user)%>" role="button">JSON</a>
<%= link_to 'JSON' , api_blogs_path(user_id: current_user)%>
